Integrantes Grupo 7:

Catalina Cretton

Osman Cornejo

Rodrigo Gutierrez

Jonathan Santander

Yasna Vega

#Evaluación 1 - Diplomado Data Science Duoc UC

# Módulo: Machine Learning

A continuación, aplicarás lo aprendido con el uso de las librerías de Python desde fuentes de datos proporcionadas por el relator.

**Recuerda almacenar una copia de este Jupyter Notebook en tu Google Drive para poder ejecutar los bloques de código.**


---
* Ejecución técnica de un procedimiento de  Análisis Exploratorio de datos
  * Deberá cargar los datos del CSV a pandas
  * Deberá identificar las columnas relevantes y realizar la unión de los datos
  * Deberá identificar las columnas más relevantes del negocio y proponer una rutina de limpieza
  * Separar la información entre las columnas relevantes y ejecutar su rutina de limpieza
  * Identificar la correlación de las columnas e identificar las más relevantes
  * Proponga 5 gráficos que otorguen valor a los datos y describa el conocimiento que puede extraer de éstos
---

# Contexto: 

Una empresa anónima, nos encargó la importante misión de predecir como serán sus próximas ventas basados en sus datos transaccionales. Para falicitar el proyecto de Análisis de Datos, nos proporcionó 3 datasets que necesitaremos relacionar para poder responder a la demanda de nuestro cliente. 
La primera fase de nuestro proyecto consistirá en un análisis exploratorio que nos permitirá conocer del negocio, saber qué venden, cuantos clientes manejan en sus sistemas, entre otras preguntas relevantes que nos permitirán plantear diversas hipótesis respecto de los datos. 

**Recuerda hacer uso de todo lo aprendido! mientras más cosas descubras de los datos, más robusto será tu análisis.**

In [1]:
!wget https://www.dropbox.com/s/i9edv1p4ufk6apl/datos_ventas.csv
!wget https://www.dropbox.com/s/f2774ywx6a0vhwn/datos_clientes.csv
!wget https://www.dropbox.com/s/bk66vergl5vuofj/datos_trabajador.csv

--2022-07-29 01:00:07--  https://www.dropbox.com/s/i9edv1p4ufk6apl/datos_ventas.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/i9edv1p4ufk6apl/datos_ventas.csv [following]
--2022-07-29 01:00:07--  https://www.dropbox.com/s/raw/i9edv1p4ufk6apl/datos_ventas.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc9aae0cff647c564f277d9e8962.dl.dropboxusercontent.com/cd/0/inline/Bp-91kEoNEZanIaBKc5T0RAoQzrBKEfwkwLKFkHZT_bZKG0WrPoYKthk25te5o-W8W0NyaoIKlhBQEXoYFp6PptnaqhTQt5ELgENvgjA5AYu5iErwkbk30oZe6r8_C8Ls3tBjnQn-GoR7zqTwXEuKoRWI7C5IQ7KCTD6-E4eeodZEw/file# [following]
--2022-07-29 01:00:07--  https://uc9aae0cff647c564f277d9e8962.dl.dropboxusercontent.com/cd/0/inline/Bp-91kEoNEZanIaBKc5T0RAoQzrBKEfwkwLKFkHZT_bZKG0WrPoYKthk25te5o-W8W0NyaoIKlhBQEXoYFp6PptnaqhTQt5ELgENvgjA5AYu5iErwkbk30oZe6r8_C8Ls3tBjnQn-GoR7zqTwXEuKoRWI7C5IQ7KCTD6-E4eeodZEw/file
Resolving uc9aae0cff647c564f277d9e8962.dl.dropboxusercontent.com (uc9aae0cff647c564f277d9e8962.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6017:15::a27d:20f
Connecting to uc9aae0cff647c564f277d9e8962.dl.dropboxusercontent.com (uc9aae0cff647c564f277d9e8962.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 194171 (190K) [text/plain]
Saving to: ‘datos_ventas.csv’

datos_ventas.csv    100%[===================>] 189.62K  --.-KB/s    in 0.02s

2022-07-29 01:00:08 (8.19 MB/s) - ‘datos_ventas.csv’ saved [194171/194171]

--2022-07-29 01:00:08--  https://www.dropbox.com/s/f2774ywx6a0vhwn/datos_clientes.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/f2774ywx6a0vhwn/datos_clientes.csv [following]
--2022-07-29 01:00:08--  https://www.dropbox.com/s/raw/f2774ywx6a0vhwn/datos_clientes.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4c5d193d3154d98f5d58e655be.dl.dropboxusercontent.com/cd/0/inline/Bp_QBoA_3hPFpDgssLh7TeqGUP4MT6rZ7OS_OHYbz4t2AJFVh_i__Bz75F1PPTIF4dLrP27nMHzZaZvYiKI11o2Xpoowd9JrEO2NOs87C5ImButecHif6WG_mhL_LzBRr1wC5xGkqkxb_iAkWkkBaTEgul7NNDXsN_Goc3YxFDKl2g/file# [following]
--2022-07-29 01:00:08--  https://uc4c5d193d3154d98f5d58e655be.dl.dropboxusercontent.com/cd/0/inline/Bp_QBoA_3hPFpDgssLh7TeqGUP4MT6rZ7OS_OHYbz4t2AJFVh_i__Bz75F1PPTIF4dLrP27nMHzZaZvYiKI11o2Xpoowd9JrEO2NOs87C5ImButecHif6WG_mhL_LzBRr1wC5xGkqkxb_iAkWkkBaTEgul7NNDXsN_Goc3YxFDKl2g/file
Resolving uc4c5d193d3154d98f5d58e655be.dl.dropboxusercontent.com (uc4c5d193d3154d98f5d58e655be.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6021:15::a27d:410f
Connecting to uc4c5d193d3154d98f5d58e655be.dl.dropboxusercontent.com (uc4c5d193d3154d98f5d58e655be.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45876 (45K) [text/plain]
Saving to: ‘datos_clientes.csv’

datos_clientes.csv  100%[===================>]  44.80K  --.-KB/s    in 0.008s

2022-07-29 01:00:09 (5.40 MB/s) - ‘datos_clientes.csv’ saved [45876/45876]

--2022-07-29 01:00:09--  https://www.dropbox.com/s/bk66vergl5vuofj/datos_trabajador.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/bk66vergl5vuofj/datos_trabajador.csv [following]
--2022-07-29 01:00:09--  https://www.dropbox.com/s/raw/bk66vergl5vuofj/datos_trabajador.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc3a7d44013166f9642773a989a5.dl.dropboxusercontent.com/cd/0/inline/Bp-9zWRPPB0f0IIXswVQ1Q2LD_Bl6bmnTLW_pVRfFiwBc5nIjSPFct2jCPycxthkViewZA2oGQzMYfuFuszzhhHz7L1Hl1D3cfnQ9EblaFcBx_HnW9gnEHuSpDw1uoOQlg8RC4FUcDT9_OBIXaDKA0s6joRVollqRYB1kskklUE6CQ/file# [following]
--2022-07-29 01:00:09--  https://uc3a7d44013166f9642773a989a5.dl.dropboxusercontent.com/cd/0/inline/Bp-9zWRPPB0f0IIXswVQ1Q2LD_Bl6bmnTLW_pVRfFiwBc5nIjSPFct2jCPycxthkViewZA2oGQzMYfuFuszzhhHz7L1Hl1D3cfnQ9EblaFcBx_HnW9gnEHuSpDw1uoOQlg8RC4FUcDT9_OBIXaDKA0s6joRVollqRYB1kskklUE6CQ/file
Resolving uc3a7d44013166f9642773a989a5.dl.dropboxusercontent.com (uc3a7d44013166f9642773a989a5.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:601a:15::a27d:70f
Connecting to uc3a7d44013166f9642773a989a5.dl.dropboxusercontent.com (uc3a7d44013166f9642773a989a5.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 176 [text/plain]
Saving to: ‘datos_trabajador.csv’

datos_trabajador.cs 100%[===================>]     176  --.-KB/s    in 0s

2022-07-29 01:00:09 (27.3 MB/s) - ‘datos_trabajador.csv’ saved [176/176]

In [ ]:
import pandas as pd
df_ventas = pd.read_csv("datos_ventas.csv", sep="|")
df_ventas.head()

,VENTA_ID,CAJERO_ID,COMPRADOR_ID,FECHA_VENTA,MONTO_TOTAL,CODIGO_PRODUCTO,NOMBRE_PRODUCTO,CODIGO_FAMILIA,NOMBRE_FAMILIA,CANTIDAD
0,26,7,32,"22/08/19 19:43:18,000000000",Q.-1500.,7802215104855,Costa Rama,4,CONFITES-GALLETAS,"1,0"
1,49,7,91,"23/08/19 14:08:25,000000000",Q.4050-.,7801810712663,LIPTON YELLOW 40g. 20UN.,1,OFERTAS ESPECIALES,"1,0"
2,49,7,399,"23/08/19 14:08:25,000000000",Q.4050-.,7802575006035,CORBATAS CARO.400g.,1,OFERTAS ESPECIALES,"1,0"
3,49,7,92,"23/08/19 14:08:25,000000000",Q.4050-.,7801875032010,TÉ SUPREMO 40g. 20UN.,1,OFERTAS ESPECIALES,"1,0"
4,49,7,177,"23/08/19 14:08:25,000000000",Q.4050-.,7808743601934,ACEITE MERKAT 900ml.,1,OFERTAS ESPECIALES,"1,0"

# Análisis Exploratorio de Datos

## Importar las librerias necesarias

In [ ]:
# Importe las librerias necesarias para trabajar aquí
# Se importara la librerias Pandas para cargar, modelar, analizar y manipular los datos
import pandas as pd
# Se importara la libreria Numpy para entregar datos estadisticos.
import numpy as np
# Se importara la libreria Seaborn para modelar los datos
import seaborn as sns

## Cargar fuentes de datos

In [ ]:
# Cargue los archivos CSV necesarios aquí
#Se carga el archivo de ventas
df_ventas = pd.read_csv("datos_ventas.csv", sep="|")
df_ventas.head()

,VENTA_ID,CAJERO_ID,COMPRADOR_ID,FECHA_VENTA,MONTO_TOTAL,CODIGO_PRODUCTO,NOMBRE_PRODUCTO,CODIGO_FAMILIA,NOMBRE_FAMILIA,CANTIDAD
0,26,7,32,"22/08/19 19:43:18,000000000",Q.-1500.,7802215104855,Costa Rama,4,CONFITES-GALLETAS,"1,0"
1,49,7,91,"23/08/19 14:08:25,000000000",Q.4050-.,7801810712663,LIPTON YELLOW 40g. 20UN.,1,OFERTAS ESPECIALES,"1,0"
2,49,7,399,"23/08/19 14:08:25,000000000",Q.4050-.,7802575006035,CORBATAS CARO.400g.,1,OFERTAS ESPECIALES,"1,0"
3,49,7,92,"23/08/19 14:08:25,000000000",Q.4050-.,7801875032010,TÉ SUPREMO 40g. 20UN.,1,OFERTAS ESPECIALES,"1,0"
4,49,7,177,"23/08/19 14:08:25,000000000",Q.4050-.,7808743601934,ACEITE MERKAT 900ml.,1,OFERTAS ESPECIALES,"1,0"

In [ ]:
#Se carga el archivo de trabajador
df_workers = pd.read_csv("datos_trabajador.csv")
df_workers.head()

   ID  CAJERO_ID  NOMBRE APELLIDO         RUT
0   1          2   Zelda  Wiggins  23730488-8
1   2          3    Kaye     Bird  18659842-3
2   3          4    Sean   Tucker  12534101-2
3   4          5   Ulric   Lester  14004608-6
4   5          7  Hunter    Booth  13030165-7

In [ ]:
#Se cargan el archivo de clientes
df_clientes = pd.read_csv("datos_clientes.csv")
df_clientes.head()

,id_cliente,primer_nombre,apellido_paterno,apellido_materno,correo,genero,idioma,estado_civil,cant_hijos,edad,estudios,Color_F
0,1,Ibby,Plewes,Izac,iizac0@cnbc.com,Female,Lithuanian,Otro,1,1,RMA,Celeste
1,2,Doralia,Ewell,Townsend,dtownsend1@ow.ly,Female,Armenian,Viudo,2,2,IEX Total View,Azul
2,3,Lynette,Merrydew,Feaveryear,lfeaveryear2@aol.com,Female,Papiamento,Soltero,3,3,RMI,Celeste
3,4,Janaye,Jeffryes,Anglim,janglim3@ameblo.jp,Female,Georgian,Casado,4,4,MTP3,Azul
4,5,Travus,Divis,Minchindon,tminchindon4@sourceforge.net,Male,Northern Sotho,Casado,1,5,RMI,Amarrillo

In [ ]:
# Realice análisis de los datos del CSV 1
# Se miden las dimensiones de la muestra de datos de ventas
df_ventas.shape

(1753, 10)

In [ ]:
# Analisis de datos CSV 1 (VENTAS)
# Se muestran datos estadisticos de la muestra
df_ventas.describe()

           VENTA_ID    CAJERO_ID  COMPRADOR_ID  CODIGO_FAMILIA
count   1753.000000  1753.000000   1753.000000     1753.000000
mean    4988.726184     3.828865    249.451797        4.426127
std     6754.533366     2.322299    145.613872        4.225431
min       26.000000     2.000000      1.000000        1.000000
25%     1311.000000     2.000000    123.000000        1.000000
50%     2817.000000     2.000000    246.000000        1.000000
75%     6065.000000     7.000000    378.000000        7.000000
max    62325.000000     7.000000    500.000000       13.000000

In [ ]:
# Analisis de datos CSV 1 (VENTAS)
# Se muestran los datos nulos de la muestra
df_ventas.isnull().sum()

VENTA_ID           0
CAJERO_ID          0
COMPRADOR_ID       0
FECHA_VENTA        0
MONTO_TOTAL        0
CODIGO_PRODUCTO    0
NOMBRE_PRODUCTO    0
CODIGO_FAMILIA     0
NOMBRE_FAMILIA     0
CANTIDAD           0
dtype: int64

In [ ]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_cliente        500 non-null    int64
 1   primer_nombre     500 non-null    object
 2   apellido_paterno  500 non-null    object
 3   apellido_materno  500 non-null    object
 4   correo            500 non-null    object
 5   genero            500 non-null    object
 6   idioma            500 non-null    object
 7   estado_civil      500 non-null    object
 8   cant_hijos        500 non-null    int64
 9   edad              500 non-null    int64
 10  estudios          500 non-null    object
 11  Color_F           500 non-null    object
dtypes: int64(3), object(9)
memory usage: 47.0+ KB

In [ ]:
# Analisis de datos CSV 1 (VENTAS)
# Observamos los tipos de datos de las columnas para verificar que tipo de dato tiene cada columna
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1753 entries, 0 to 1752
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   VENTA_ID         1753 non-null   int64
 1   CAJERO_ID        1753 non-null   int64
 2   COMPRADOR_ID     1753 non-null   int64
 3   FECHA_VENTA      1753 non-null   object
 4   MONTO_TOTAL      1753 non-null   object
 5   CODIGO_PRODUCTO  1753 non-null   object
 6   NOMBRE_PRODUCTO  1753 non-null   object
 7   CODIGO_FAMILIA   1753 non-null   int64
 8   NOMBRE_FAMILIA   1753 non-null   object
 9   CANTIDAD         1753 non-null   object
dtypes: int64(4), object(6)
memory usage: 137.1+ KB

In [ ]:
# Realice análisis de los datos del CSV 2
# Se miden las dimensiones de la muestra de datos de trabajadores
df_workers.shape

(5, 5)

In [ ]:
# Realice análisis de los datos del CSV 3
# Se miden las dimensiones de la muestra de datos de clientes
df_clientes.shape

(500, 12)

In [ ]:
# Se realiza cambio de nombre de la columna de clientes "id_cliente" para cambiarla por "COMPRADOR_ID"
df_clientes2 = df_clientes.rename(columns={'id_cliente':'COMPRADOR_ID'})
df_ventas.loc[df_ventas["COMPRADOR_ID"]==73]

,VENTA_ID,CAJERO_ID,COMPRADOR_ID,FECHA_VENTA,MONTO_TOTAL,CODIGO_PRODUCTO,NOMBRE_PRODUCTO,CODIGO_FAMILIA,NOMBRE_FAMILIA,CANTIDAD
10,89,2,73,"24/08/19 16:38:51,000000000",Q.2700-.,7802575006035,CORBATAS CARO.400g.,1,OFERTAS ESPECIALES,"2,0"
91,337,2,73,"01/09/19 14:53:43,000000000",Q.3200-.,78019058,* TRIAL * TRIAL * TRI,7,CIGARROS,"1,0"
165,484,2,73,"01/09/19 18:20:06,000000000",Q.3550-.,78018884,PALL MALL DE CLICK DE 20,7,CIGARROS,"1,0"
223,607,3,73,"01/09/19 20:08:53,000000000",Q.-650.,7802900001230,* TRIAL * TRIAL * TRIAL *,1,OFERTAS ESPECIALES,"1,0"
275,738,7,73,"02/09/19 09:02:51,000000000",Q.-450.,7805080100014,* TRIAL * TRIAL * T,1,OFERTAS ESPECIALES,"1,0"
1160,4449,2,73,"08/09/19 20:13:28,000000000",Q.-1600.,7809611709622,* TRIAL * TRIAL * TRIAL * TRIAL *,1,OFERTAS ESPECIALES,"1,0"

## Unir los CSV

In [ ]:
# Unir los CSV aquí
#df_juntos = concat(map(pd.read_csv, [df_ventas, df_workers, df_clientes]), ignore_index=True)
#print(df_juntos)
#df_juntos.loc[df_juntos['VENTA_ID']==26]
# Se realiza un merge para unir los datos hacia la derecha por medio del id del cajero.
df_juntos = pd.merge(df_workers, df_ventas, on=['CAJERO_ID','CAJERO_ID'])
# Se realiza un merge para unir los datos de clientes a la derecha por medio del id del cliente.
df_final = pd.merge(df_juntos, df_clientes2, on=['COMPRADOR_ID','COMPRADOR_ID'])
df_final

,ID,CAJERO_ID,NOMBRE,APELLIDO,RUT,VENTA_ID,COMPRADOR_ID,FECHA_VENTA,MONTO_TOTAL,CODIGO_PRODUCTO,...,apellido_paterno,apellido_materno,correo,genero,idioma,estado_civil,cant_hijos,edad,estudios,Color_F
0,1,2,Zelda,Wiggins,23730488-8,89,73,"24/08/19 16:38:51,000000000",Q.2700-.,7802575006035,...,Munnis,Rounsefull,trounsefull20@nymag.com,Male,Romanian,Otro,1,8,RMI,Verde
1,1,2,Zelda,Wiggins,23730488-8,337,73,"01/09/19 14:53:43,000000000",Q.3200-.,78019058,...,Munnis,Rounsefull,trounsefull20@nymag.com,Male,Romanian,Otro,1,8,RMI,Verde
2,1,2,Zelda,Wiggins,23730488-8,484,73,"01/09/19 18:20:06,000000000",Q.3550-.,78018884,...,Munnis,Rounsefull,trounsefull20@nymag.com,Male,Romanian,Otro,1,8,RMI,Verde
3,1,2,Zelda,Wiggins,23730488-8,4449,73,"08/09/19 20:13:28,000000000",Q.-1600.,7809611709622,...,Munnis,Rounsefull,trounsefull20@nymag.com,Male,Romanian,Otro,1,8,RMI,Verde
4,2,3,Kaye,Bird,18659842-3,607,73,"01/09/19 20:08:53,000000000",Q.-650.,7802900001230,...,Munnis,Rounsefull,trounsefull20@nymag.com,Male,Romanian,Otro,1,8,RMI,Verde
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,5,7,Hunter,Booth,13030165-7,6065,131,"12/09/19 13:24:27,000000000",Q.2700-.,HUEVO,...,Swire,Sproat,rsproat3m@homestead.com,Male,Hungarian,Otro,3,1,Unit Testing,Amarrillo
1749,5,7,Hunter,Booth,13030165-7,7554,349,"15/09/19 11:44:41,000000000",Q.-1800.,7802810021120,...,Van Velde,Dowty,ldowty9o@shop-pro.jp,Male,Ndebele,Viudo,1,24,PPC,Rojo
1750,5,7,Hunter,Booth,13030165-7,11096,335,"21/09/19 14:44:20,000000000",Q.6200-.,78007673,...,Mawford,Sirmon,rsirmon9a@goo.ne.jp,Male,Assamese,Casado,3,10,IEX Total View,Verde
1751,5,7,Hunter,Booth,13030165-7,11926,312,"23/09/19 14:07:12,000000000",Q.4400-.,78007673,...,Blunderfield,Ead,oead8n@cargocollective.com,Female,Dhivehi,Otro,4,52,JDK,Verde
1752,5,7,Hunter,Booth,13030165-7,12941,410,"25/09/19 12:26:42,000000000",Q.4180-.,7801620001643,...,Crosskill,Doig,sdoigbd@cloudflare.com,Male,Tajik,Otro,2,20,Adobe Creative Suite,Azul

## Analice los datos unidos, identifique columnas a limpiar y columnas a remover en caso de ser necesario. Justifique todas sus propuestas.

In [ ]:
# Análisis de los datos aquí

# Propuesta de limpieza

## Proponga al menos 3 tareas de limpieza

Escríbalas acá justificando el por qué se debe realizar cada limpieza. 
En los bloques posteriores, ejecute las rutinas propuestas.

In [ ]:
# Ejecución de limpieza 1

In [ ]:
# Ejecución de limpieza 2

In [ ]:
# Ejecución de limpieza 3

In [ ]:
# Si necesita ejecutar más, agregue los bloques necesarios

## Identificación de correlación en las columnas

In [ ]:
# Identifique las correlación aquí

## Escribir una pequeña reseña de los resultados analizados y las correlaciones que  usaría para implementar un modelo de Machine Learning.

## Proponga y describa al menos 5 gráficos que entregan valor al negocio y a la interpretación de los datos

# Gráfico 1

In [ ]:
# Programe el gráfico 1

Describa el valor que entrega este gráfico y como se podría complementar a la explicación del comportamiento de los datos.

# Gráfico 2

In [ ]:
# Programe el gráfico 2

Describa el valor que entrega este gráfico y como se podría complementar a la explicación del comportamiento de los datos.

# Gráfico 3

In [ ]:
# Programe el gráfico 3

Describa el valor que entrega este gráfico y como se podría complementar a la explicación del comportamiento de los datos.

# Gráfico 4

In [ ]:
# Programe el gráfico 4

Describa el valor que entrega este gráfico y como se podría complementar a la explicación del comportamiento de los datos.

# Gráfico 5

In [ ]:
# Programe el gráfico 5

Describa el valor que entrega este gráfico y como se podría complementar a la explicación del comportamiento de los datos.

# Detalle aquí las conclusiones obtenidas respecto al dataset. Explique y complemente el análisis recalcando la importancia de la exploración de datos antes de comenzar a realizar modelos de Machine Learning.